.cv-scroll {
  position: relative;
  width: 100%;
}

.cv-map {
  position: sticky;
  top: var(--vp-nav-height, 64px);
  height: calc(100vh - var(--vp-nav-height, 64px));
  width: 100%;
  margin-bottom: calc(-100vh + var(--vp-nav-height, 64px));
}

.cv-index-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

