:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(
      -60deg,
      #ff5962 20%,
      #3ad06c
    );

    --vp-c-brand-1: #2bcf62;
    --vp-c-brand-2: #14863a;
    --vp-c-brand-3: #1dbc52;

    --vp-home-hero-image-background-image: linear-gradient(
      120deg,
      #ff303b 40%,
      #31ba5f 55%
    );
    --vp-home-hero-image-filter: blur(45px);
  }
  